Repository Epsius-44/Bot-Discord: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, build, build-docker-image, docs-update

.gitlab-ci.yml:

image: node:18.17.0

install:
  stage: .pre
  rules:
    - if: $CI_PROJECT_PATH == 'Luzilab/epsinyx/bot-discord' && $CI_COMMIT_BRANCH == 'main'
      changes:
        - src/**/*
        - package.json
        - package-lock.json
  cache:
    paths:
      - .cache/npm
  script:
    - &npm_install
      npm install --quiet --no-progress --cache=.cache/npm

build:
  stage: build
  rules:
    - if: $CI_PROJECT_PATH == 'Luzilab/epsinyx/bot-discord' && $CI_COMMIT_BRANCH == 'main'
      changes:
        - src/**/*
        - package.json
        - package-lock.json
  needs:
    - install
  cache: &pull_cache
    policy: pull
    paths:
      - .cache/npm
  script:
    - *npm_install
    - &build_bot
        npx tsc
  artifacts:
    paths:
      - dist/
      - package.json
      - package-lock.json
      - .env

build-docker-image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  rules:
    - if: $CI_PROJECT_PATH == 'Luzilab/epsinyx/bot-discord' && $CI_COMMIT_BRANCH == 'main'
      changes:
        - src/**/*
        - package.json
        - package-lock.json
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE

docs-update:
  stage: deploy
  rules:
    - if: $CI_PROJECT_PATH == 'Luzilab/epsinyx/bot-discord' && $CI_COMMIT_BRANCH == 'main'
      changes:
        - docs/**/*
  script:
    - curl -X POST --fail -F token=$DOCS_CI_UPDATE -F ref=main https://gitlab.com/api/v4/projects/46789296/trigger/pipeline

Fix : Début décommissionnement de la sous commande /temp_channel update_all_perms
  package-lock.json
  package.json
  src/commands/tempChannel.ts
  src/commands/tempChannel/updateAllPerms.ts.bck
Due: install, build, build-docker-image

Remove docs folder
  .gitlab-ci.yml
  docs/antora.yml
  docs/modules/ROOT/images/app-permission.png
  docs/modules/ROOT/images/bot-permission.png
  docs/modules/ROOT/images/commands/ping-exemple.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/commands/ping.adoc
  docs/modules/ROOT/pages/contributing.adoc
  docs/modules/ROOT/pages/core/command-handler.adoc
  docs/modules/ROOT/pages/core/event-handler.adoc
  docs/modules/ROOT/pages/core/logger-class.adoc
  docs/modules/ROOT/pages/events/interaction-create.adoc
  docs/modules/ROOT/pages/events/ready.adoc
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/overview.adoc
Due: docs-update

ADD: Commande warning for /edt
  src/commands/edt.ts
Due: install, build, build-docker-image

Change bot version
  package-lock.json
  package.json
Due: install, build, build-docker-image

FIX: typo in /edt
  package-lock.json
  package.json
  src/commands/edt.ts
Due: install, build, build-docker-image

Rollback to very minimal bot setup
  .env
  docs/antora.yml
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/overview.adoc
  package-lock.json
  package.json
  src/events/ready.ts
  src/handlers/commandHandler.ts
  src/handlers/eventHandlers.ts
  src/index.ts
  src/modules/logger.ts
  src/types.d.ts
Due: install, build, build-docker-image, docs-update

Add HA Module in the project
  .env
  README.adoc
  modules/ha-redis/.gitignore
  modules/ha-redis/Cargo.lock
  modules/ha-redis/Cargo.toml
  modules/ha-redis/README.md
  modules/ha-redis/package-lock.json
  modules/ha-redis/package.json
  modules/ha-redis/src/lib.rs
  package-lock.json
  package.json
  src/commands/ping.ts
  src/events/interactionCreate.ts
  src/events/ready.ts
  src/index.ts
  src/modules/active-ha.ts
  src/types.d.ts
Due: install, build, build-docker-image

Implement a env var to disable the HA module
  src/events/ready.ts
Due: install, build, build-docker-image

Fully Implement Ha
  .dockerignore
  Dockerfile
  modules/ha-redis/package.docker.json
  src/commands/ping.ts
  src/events/ready.ts
  src/index.ts
  src/types.d.ts
Due: install, build, build-docker-image

Fix typo
  src/commands/ping.ts
  src/types.d.ts
Due: install, build, build-docker-image

Remove unnecessary package
  package-lock.json
  package.json
Due: install, build, build-docker-image

Convert require to import
  src/commands/ping.ts
  src/modules/active-ha.ts
  tsconfig.json
Due: install, build, build-docker-image

Add help command
  package.json
  src/commands/help.ts
  src/commands/ping.ts
  src/events/interactionCreate.ts
  src/handlers/commandHandler.ts
  src/index.ts
  src/types.d.ts
  tsconfig.json
Due: install, build, build-docker-image

Add ping perms
  .env
  src/commands/ping.ts
  src/types.d.ts
Due: install, build, build-docker-image

Init docs
  CONTRIBUTING.adoc
  README.adoc
Due: none

Update docs
  CONTRIBUTING.adoc
  README.adoc
Due: none

Update CONTRIBUTING.adoc
  CONTRIBUTING.adoc
Due: none

Purge src content to add linter and refactor the structural code
  .dockerignore
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  src/commands/help.ts
  src/commands/ping.ts
  src/events/interactionCreate.ts
  src/events/ready.ts
  src/handlers/commandHandler.ts
  src/handlers/eventHandlers.ts
  src/index.ts
  src/modules/active-ha.ts
  src/modules/logger.ts
  src/types.d.ts
  tsconfig.json
Due: install, build, build-docker-image

Implement the base code for start bot
  .eslintrc.json
  package-lock.json
  package.json
  src/.env
  src/class/ActiveHA.ts
  src/class/Event.ts
  src/class/Handler.ts
  src/class/Logger.ts
  src/events/ready.ts
  src/global.d.ts
  src/handlers/eventHandlers.ts
  src/index.ts
  tsconfig.json
Due: install, build, build-docker-image

Implement basic command
  src/class/AppCommand.ts
  src/class/SubCommand.ts
  src/commands/ping.ts
  src/events/interactionCreate.ts
  src/global.d.ts
  src/handlers/appCommandHandler.ts
  src/handlers/eventHandler.ts
  src/index.ts
Due: install, build, build-docker-image

Add compile check on each commit
  .husky/pre-commit
Due: none

Implement /ping in the new code base
  src/class/ActiveHA.ts
  src/commands/ping.ts
Due: install, build, build-docker-image

Add /help command and fix docker image
  .dockerignore
  Dockerfile
  src/class/AppCommand.ts
  src/commands/help.ts
Due: install, build, build-docker-image

Fix btn disable
  src/buttons/role.ts
Due: install, build, build-docker-image

Add multi bot support in redis bdd
  modules/ha-redis/Cargo.lock
  modules/ha-redis/Cargo.toml
  modules/ha-redis/package.docker.json
  modules/ha-redis/package.json
  modules/ha-redis/src/lib.rs
  package-lock.json
  package.json
  src/class/ActiveHA.ts
  src/index.ts
Due: install, build, build-docker-image

Add rust module for epsi edt scraping
  Dockerfile
  modules/epsi-edt/.gitignore
  modules/epsi-edt/.idea/.gitignore
  modules/epsi-edt/.idea/epsi-edt.iml
  modules/epsi-edt/.idea/material_theme_project_new.xml
  modules/epsi-edt/.idea/modules.xml
  modules/epsi-edt/.idea/vcs.xml
  modules/epsi-edt/Cargo.lock
  modules/epsi-edt/Cargo.toml
  modules/epsi-edt/README.md
  modules/epsi-edt/package.docker.json
  modules/epsi-edt/package.json
  modules/epsi-edt/src/irori_edt/format.rs
  modules/epsi-edt/src/irori_edt/mod.rs
  modules/epsi-edt/src/irori_edt/scraper.rs
  modules/epsi-edt/src/lib.rs
  package-lock.json
  package.json
  src/class/EpsiEDT.ts
  src/global.d.ts
  src/index.ts
Due: install, build, build-docker-image

Anarchie pour la dernière semaine
  package-lock.json
  package.json
  src/commands/muteUser.ts
  src/commands/unmuteUser.ts
Due: install, build, build-docker-image

Fix disable secu
  src/commands/unmuteUser.ts
Due: install, build, build-docker-image

Fix bis
  src/commands/muteUser.ts
  src/commands/unmuteUser.ts
Due: install, build, build-docker-image

Update logs
  src/modules/logger.ts
Due: install, build, build-docker-image

fix console.error
  package-lock.json
  package.json
  src/modules/logger.ts
Due: install, build, build-docker-image

init v2 codebase
  README.adoc
Due: none

add: informations files
  .gitignore
  LICENSE
  README.adoc
  package.json
Due: install, build, build-docker-image

add: pre-commit and lint CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

add: lint step with prettier and eslint
  .gitleaksignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  eslint.config.mjs
  package.json
  src/.env.example
  tsconfig.json
  yarn.lock
Due: install, build, build-docker-image

add: discord connexion
  .env.example
  package.json
  src/.env.example
  src/global.d.ts
  src/index.ts
  tsconfig.json
Due: install, build, build-docker-image

add: app handler structure & ready event
  src/class/Event.ts
  src/class/Handler.ts
  src/events/ready.ts
  src/global.d.ts
  src/handlers/eventHandler.ts
  src/index.ts
Due: install, build, build-docker-image

Mettre à jour le fichier .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Revert "Mettre à jour le fichier .gitlab-ci.yml"
  .gitlab-ci.yml
Due: none
